<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>首页</title>

    <link rel="stylesheet" href="../pure/j-base.css" >

</head>
<body>

<a class="j-head-sm">
    <img src="../static/images/back_03.jpg" alt=""/>
</a>
<br />
<a class="j-head-md">
    <img src="../static/images/back_03.jpg" alt=""/>
</a>
<br />
<a class="j-head-lg">
    <img src="../static/images/back_03.jpg" alt=""/>
</a>
<nav class="j-nav">
    <a href="#" class="j-logo" left><img src="../static/images/back_02.jpg" alt=""></a>
<ul>
    
<li><a href="index.html">Home</a></li>
<li><a href="/about/">About</a></li>
<li><a href="/blog/">Blog</a></li>

</ul>

<div class="j-search">

</div>

</nav>

</body>
</html>