<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>首页</title>

    <link rel="stylesheet" href="../pure/pure.css">
    <link rel="stylesheet" href="../pure/j-base.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css" rel="stylesheet">

</head>
<body>

<audio id="audio">
    <source src="爱的就是你.mp3" type="audio/mpeg" codecs="mp3"></source>
</audio>

<div class="j-main">

    <div class="j-top">

        <div class="j-top-wrap">
            <nav class="j-nav">
                <a href="#" class="j-logo" left>
                    <!-- i class="mdi mdi-shape-plus mdi-24px"></i -->
                    <i class="mdi mdi-view-headline mdi-24px"></i>
                </a>



                <ul right>
                    <li>
                        <a href="index.html">
                            <i class="mdi mdi-chevron-left mdi-24px"></i>
                        </a>
                    </li>

                    <li class="j-search-group">
                        <input class="j-search" placeholder="请输入内容" left/>
                        <a>
                            <i class="mdi mdi-magnify mdi-24px"></i>
                        </a>
                    </li>


                    <li>
                        <a href="index.html">
                            <i class="mdi mdi-signal-cellular-2 mdi-24px"></i>
                        </a>
                    </li>

                </ul>

            </nav>
            <!--
            <div class="j-scroll-tab">
                <ul>

                    <li><a href="index.html">Home</a></li>
                    <li><a href="index.html">Contract</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>


                </ul>

                <div class="j-more">
                    <i class="mdi mdi-view-headline mdi-24px"></i>
                </div>

            </div>
            -->
        </div>

    </div>


    <div class="j-middle">
        <div class="j-middle-wrap">
            <!--
            <img src="../static/images/back_02.jpg"/>
            -->

            <table class="j-table j-table-rank">
            <thead>
            <tr class="j-tr-head">
                <th class="j-tw-10">序号</th>
                <th class="j-tw-70">
                    <div class="wp">标题</div>
                </th>
                <th class="j-tw-10">
                    <div class="wp">时长</div>
                </th>
                <th class="j-tw-10">
                    <div class="wp">歌手</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    1
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    2
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    3
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    4
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    5
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    6
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    7
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    8
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    9
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    10
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    9
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    10
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    9
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    10
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    9
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    10
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    9
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    10
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    9
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    10
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    9
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    10
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    9
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    10
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    9
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    10
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    9
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    10
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-white">
                <td class="j-tw-10">
                    9
                </td>
                <td class="j-tw-70">
                    灰姑娘
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>
            <tr class="j-tr-gray">
                <td class="j-tw-10">
                    10
                </td>
                <td class="j-tw-70">
                    <i class="mdi mdi-play mdi-18px j-td-play"></i>
                    灰姑娘
                    <i class="mdi mdi-signal-cellular-2 mdi-24px j-td-play" right></i>
                </td>
                <td class="j-tw-10">
                    04:53
                </td>
                <td class="j-tw-10">
                    陈雪凝
                </td>
            </tr>



            </tbody>
        </table>

        </div>
    </div>

    <div class="j-bottom">
        <div class="j-bottom-wrap">
            <div id="j-process" control="false">
                <div id="j-process-back" @click="pause()">00:00</div>
                <div id="j-process-bar" @mouseover="hover()">
                    <div id="j-process-load"></div>
                    <div id="j-process-play">
                        <div id="j-process-drag"></div>
                    </div>
                </div>
                <div id="j-process-next" @click="pause()">05:00</div>
            </div>
            <div id="j-control">
                <div id="j-control-wrap">
                    <div id="next">
                        <a>
                            <i class="mdi mdi-skip-previous mdi-24px"></i>
                        </a>
                    </div>
                    <div id="play" @click="play()">
                        <a>
                            <i class="mdi mdi-play mdi-48px"></i>
                        </a>
                    </div>
                    <div id="next">
                        <a>
                            <i class="mdi mdi-skip-next mdi-24px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>