<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>首页</title>

    <link rel="stylesheet" href="../pure/pure.css">
    <link rel="stylesheet" href="../pure/j-base.css">
    <link href="https://at.alicdn.com/t/font_221354_emflqrakw2.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6"></script>


</head>
<body>


<div id="main" class="j-main">

    <audio id="audio" ref="j-audio" @loadedmetadata="getDuration()" @timeupdate="getCurrentTime()">
        <!--source src="陈粒+-+小半.mp3" type="audio/mpeg" codecs="mp3"></source-->
        <source src="https://ip-h5-re01-sycdn.kuwo.cn/1c8f51abf800203963f59ee845d0665a/5e11a71b/resource/n3/69/83/2754212257.mp3"
                type="audio/mpeg" codecs="mp3"></source>
    </audio>

    <div class="j-top">

        <div class="j-top-wrap">
            <nav class="j-nav">
                <a href="#" class="j-logo">
                    <!-- i class="mdi mdi-shape-plus mdi-24px"></i -->
                    <i class="mdi mdi-view-headline mdi-24px"></i>
                </a>


                <ul>
                    <li class="j-search-group">
                        <div class="j-btn-search">
                            <a>
                                <i class="mdi mdi-magnify mdi-24px"></i>
                            </a>
                        </div>
                        <label for="j-search"></label>
                        <input id="j-search" class="j-search" placeholder="请输入内容" left/>
                        <div class="j-btn-clear">
                            <a>
                                <i class="mdi mdi-close mdi-24px"></i>
                            </a>
                        </div>
                        <div style="
                        /* width: 517px; */

                        height: 100px;
                        display: none;
                        /* left: -39px; */
                        border: 1px solid;
                        box-shadow: azure;
                        /* border-top: none; */
                        box-sizing: border-box;
                        position: relative;
                        clear: both;
                        top: 10px;
                        background: #fff;
                    ">{{ result }}</div>
                    </li>


                    <li>
                        <div class="j-btn-playing">
                            <a href="index.html">
                                <i class="mdi mdi-poll mdi-24px"></i>
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!--
            <div class="j-scroll-tab">
                <ul>

                    <li><a href="index.html">Home</a></li>
                    <li><a href="index.html">Contract</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>
                    <li><a href="index.html">test</a></li>


                </ul>

                <div class="j-more">
                    <i class="mdi mdi-view-headline mdi-24px"></i>
                </div>

            </div>
            -->
        </div>

    </div>

    <div class="j-middle-fixed">
        <div class="j-search-detail"></div>
    </div>
    <div class="j-middle-wrap">
        <div class="j-middle">
            <!--
            <img src="../static/images/back_02.jpg"/>
            -->

            <div class="j-list-wrap">
                <div class="j-card-wrap">
                    <div class="j-card-main">
                        <div seq="1" class="j-card-tab"
                             style="background: red;transform: translate(-60%, 0) scale(0.8);z-index: 1;"></div>
                        <div seq="2" class="j-card-tab" style="background: green;z-index: 2;"></div>
                        <div seq="3" class="j-card-tab"
                             style="background: blue;z-index: 1;transform: translate(60%, 0) scale(0.8);"></div>
                    </div>
                    <div class="j-card-left"></div>
                    <div class="j-card-bottom"></div>
                    <div class="j-card-right"></div>
                </div>
                <div class="j-list">
                    <div class="j-table j-table-rank">
                        <div class="j-table-head">
                            <div class="j-tr-head">
                                <div class="j-tw j-tw-10">
                                    序号
                                </div>
                                <div class="j-tw j-tw-70">
                                    标题
                                </div>
                                <div class="j-tw j-tw-10">
                                    时长
                                </div>
                                <div class="j-tw j-tw-10">
                                    歌手
                                </div>
                            </div>
                        </div>
                        <div class="j-table-body">
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    1
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                    <div class="j-fun-group">
                                        <a href="#">
                                            <i class="mdi mdi-play mdi-18px"></i>
                                        </a>
                                        <a href="#">
                                            <i class="mdi mdi-plus mdi-18px"></i>
                                        </a>
                                        <a href="#">
                                            <i class="mdi mdi-heart-outline mdi-18px"></i>
                                        </a>

                                    </div>

                                </div>
                                <div class="j-tw-10">
                                    04:53

                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-gray">
                                <div class="j-tw-10">
                                    2
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                    <div class="j-fun-group">
                                        <a href="#">
                                            <i class="mdi mdi-play mdi-18px"></i>
                                        </a>
                                        <a href="#">
                                            <i class="mdi mdi-plus mdi-18px"></i>
                                        </a>
                                        <a href="#">
                                            <i class="mdi mdi-heart-outline mdi-18px"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    3
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-gray">
                                <div class="j-tw-10">
                                    4
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    5
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-gray">
                                <div class="j-tw-10">
                                    6
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    7
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-gray">
                                <div class="j-tw-10">
                                    8
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    9
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-gray">
                                <div class="j-tw-10">
                                    10
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    9
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-gray">
                                <div class="j-tw-10">
                                    10
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    9
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-gray">
                                <div class="j-tw-10">
                                    10
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    9
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-gray">
                                <div class="j-tw-10">
                                    10
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    9
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-gray">
                                <div class="j-tw-10">
                                    10
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    9
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-gray">
                                <div class="j-tw-10">
                                    10
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    9
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-gray">
                                <div class="j-tw-10">
                                    10
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    9
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-gray">
                                <div class="j-tw-10">
                                    10
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    9
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-gray">
                                <div class="j-tw-10">
                                    10
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    9
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-gray">
                                <div class="j-tw-10">
                                    10
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>
                            <div class="j-tr j-tr-white">
                                <div class="j-tw-10">
                                    9
                                </div>
                                <div class="j-tw-70">
                                    灰姑娘
                                </div>
                                <div class="j-tw-10">
                                    04:53
                                </div>
                                <div class="j-tw-10">
                                    陈雪凝
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <!--
            <div class="j-lyric">
                <div class="j-lyric-top">

                    <div class="j-lyric-vinyl">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 600">
                            <defs>
                                <pattern id="avatar" width="100%" height="100%" patternContentUnits="objectBoundingBox">
                                    <image
                                            width="1" height="1"
                                            xlink:href="../static/images/back_06.jpg"/>
                                </pattern>
                                <style>
                                    circle, rect {
                                        stroke: #ff9900;
                                        stroke-width: 5px;
                                    }
                                </style>
                            </defs>
                            <g data-name="图层1">
                                <circle cx="400" cy="300" r="230"></circle>
                                <circle cx="400" cy="300" r="130" fill="url(#avatar)"></circle>
                                <circle cx="400" cy="300" r="12" class="cls-2"></circle>

                            </g>
                            <g data-name="图层2" transform="rotate(40,740 100) translate(0 40)">
                                <circle cx="740" cy="60" r="40" class="cls-4"></circle>
                                <path d="M 742,300 H 738 L 734,30 a 6 6 0 0 1 6 -6 h 0 a 6 6 0 0 1 6 6 L746,30L742,300Z"
                                      class="cls-4"></path>
                                <rect x="728" y="300" width="24" height="40" rx="12" class="cls-4"></rect>

                                <circle cx="740" cy="60" r="20" class="cls-5"></circle>
                                <circle cx="740" cy="60" r="6" class="cls-6"></circle>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="j-lyric-middle">

                    <p>小半</p>
                    <p>歌手：陈粒</p>
                    <p>作曲：陈粒</p>
                    <p>作词：涂玲子</p>
                    <p>不敢回看，左顾右盼不自然的暗自喜欢</p>
                    <p>偷偷搭讪总没完地坐立难安，试探说晚安</p>
                    <p>多空泛又心酸，低头呢喃</p>
                    <p>对你的偏爱太过于明目张胆，在原地打转的小丑伤心不断</p>
                    <p>空空留遗憾，多难堪又为难</p>
                    <p>释然，慵懒</p>
                    <p>尽欢，时间风干后你与我再无关</p>
                    <p>没答案，怎么办</p>
                    <p>看不惯自我欺瞒，纵容着</p>
                    <p>喜欢的，讨厌的</p>
                    <p>宠溺的，厌倦的</p>
                    <p>一个个慢慢黯淡，纵容着</p>
                    <p>任性的，随意的</p>
                    <p>放肆的，轻易的</p>
                    <p>将所有欢脱倾翻，不应该</p>
                    <p>太心软，不大胆</p>
                    <p>太死板，不果断</p>
                    <p>玩弄着肆无忌惮，不应该</p>
                    <p>舍弃了，死心了</p>
                    <p>放手了，断念了</p>
                    <p>无可奈何不耐烦，不算</p>
                    <p>灯火阑珊，我的心借了你的光是明是暗</p>
                    <p>笑自己情绪太泛滥形只影单，自嘲成习惯</p>
                    <p>多敏感又难缠，低头呢喃</p>
                    <p>对你的偏爱太过于明目张胆，在原地打转的小丑伤心不断</p>
                    <p>空空留遗憾，多难堪又为难</p>
                    <p>释然，慵懒</p>
                    <p>尽欢，时间风干后你与我再无关</p>
                    <p>没答案，怎么办</p>
                    <p>看不惯自我欺瞒，纵容着</p>
                    <p>喜欢的，讨厌的</p>
                    <p>宠溺的，厌倦的</p>
                    <p>一个个慢慢黯淡，纵容着</p>
                    <p>任性的，随意的</p>
                    <p>放肆的，轻易的</p>
                    <p>将所有欢脱倾翻，不应该</p>
                    <p>太心软，不大胆</p>
                    <p>太死板，不果断</p>
                    <p>玩弄着肆无忌惮，不应该</p>
                    <p>舍弃了，死心了</p>
                    <p>放手了，断念了</p>
                    <p>无可奈何不耐烦，任由着</p>
                    <p>你躲闪，我追赶</p>
                    <p>你走散，我呼喊</p>
                    <p>是谁在泛泛而谈，任由着</p>
                    <p>你来了，你笑了</p>
                    <p>你走了，不看我</p>
                    <p>与理所当然分摊，不明白</p>
                    <p>残存的，没用的</p>
                    <p>多余的，不必的</p>
                    <p>破烂也在手紧攥，不明白</p>
                    <p>谁赧然，谁无端</p>
                    <p>谁古板，谁极端</p>
                    <p>无辜不知所以然，纵容着</p>
                    <p>喜欢的，讨厌的</p>
                    <p>宠溺的，厌倦的（不管）</p>
                    <p>一个个慢慢黯淡，纵容着</p>
                    <p>任性的，随意的</p>
                    <p>放肆的，轻易的</p>
                    <p>将所有欢脱倾翻，不应该</p>
                    <p>太心软，不大胆</p>
                    <p>太死板，不果断</p>
                    <p>玩弄着肆无忌惮，不应该</p>
                    <p>舍弃了，死心了</p>
                    <p>放手了，断念了，无可奈何不耐烦</p>
                </div>
                <div class="j-lyric-bottom">
                    <div class="j-lyric-bottom-center">
                        <div>
                            <a>
                                <i class="mdi mdi-heart-outline mdi-18px"></i>
                            </a>
                        </div>
                        <div>
                            <a>
                                <i class="mdi mdi-plus mdi-18px"></i>
                            </a>
                        </div>
                        <div>
                            <a>
                                <i class="mdi mdi-share-variant mdi-18px"></i>
                            </a>
                        </div>
                    </div>
                    <div class="j-lyric-bottom-right">
                        <div>
                            <a>
                                <i class="mdi mdi-message-text-outline mdi-18px"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="j-comment-wrap">
                <div class="j-comment-push">
                    <div class="j-comment-text-wrap">
                        <label for="j-comment-text"></label>
                        <textarea id="j-comment-text" class="j-comment-text" rows="5"></textarea>
                    </div>
                    <div class="j-comment-bar">
                        <div class="j-btn-emotion">
                            <a>
                                <i class="mdi mdi-emoticon mdi-18px"></i>
                            </a>
                        </div>
                        <div class="j-btn-push">
                            <a>
                                评论
                            </a>
                        </div>
                    </div>
                </div>
                <div class="j-comment">

                    <div class="j-comment-list">
                        <div class="j-comment-list-pop">
                            <div class="j-title-line">
                                <span class="j-title">最热</span>
                                <span class="j-line"></span>
                            </div>
                            <div class="j-comment-item">
                                wwwwwwwwwwwwwwwwwwwwwwwwwwwww
                            </div>
                        </div>
                        <div class="j-comment-list-all">
                            <div class="j-title-line">
                                <span class="j-title">全部</span>
                                <span class="j-line"></span>
                            </div>
                            <div class="j-comment-item">
                                <div class="j-head">
                                    <a class="j-head-sm">
                                        <img src="../static/images/cat.jpg" alt="">
                                    </a>
                                </div>
                                <div class="j-content">
                                    <div class="j-c-top">
                                        <span class="nickname">余一夏</span>
                                        <div class="j-c-top-r">
                                            <a class="j-btn-good">

                                                <i class="mdi mdi-thumb-up-outline mdi-16px"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="j-c-mid">
                                        真好听
                                    </div>
                                    <div class="j-c-bot">
                                        <div class="j-c-bot-l">
                                            <span class="pushtime">2小时前</span>
                                        </div>
                                        <div class="j-c-bot-r">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                    <div class="j-reply-push" style="display: flex">
                                        <div class="j-reply-text-wrap">
                                            <label for="j-reply-text"></label>
                                            <input id="j-reply-text" class="j-reply-text"/>
                                            <div class="j-btn-send">
                                                <span></span>
                                                <a>
                                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="j-comment-item">
                                <div class="j-head">
                                    <a class="j-head-sm">
                                        <img src="../static/images/cat.jpg" alt="">
                                    </a>
                                </div>
                                <div class="j-content">
                                    <div class="j-c-top">
                                        <span class="nickname">余一夏</span>
                                        <a class="j-btn-good">
                                            <i class="mdi mdi-thumb-up-outline mdi-16px"></i>
                                        </a>

                                    </div>
                                    <div class="j-c-mid">
                                        真好听
                                    </div>
                                    <div class="j-c-bot">
                                        <div class="j-c-bot-l">
                                            <span class="pushtime">2小时前</span>
                                        </div>
                                        <div class="j-c-bot-r">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                    <div class="j-reply-push" style="display: none">
                                        <div class="j-reply-text-wrap">
                                            <label for="j-reply-text"></label>
                                            <input id="j-reply-text" class="j-reply-text"/>
                                            <div class="j-btn-send">
                                                <a>
                                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="j-comment-item">
                                <div class="j-head">
                                    <a class="j-head-sm">
                                        <img src="../static/images/cat.jpg" alt="">
                                    </a>
                                </div>
                                <div class="j-content">
                                    <div class="j-c-top">
                                        <span class="nickname">余一夏</span>
                                        <a class="j-btn-good">
                                            <i class="mdi mdi-thumb-up-outline mdi-16px"></i>
                                        </a>

                                    </div>
                                    <div class="j-c-mid">
                                        真好听
                                    </div>
                                    <div class="j-c-bot">
                                        <div class="j-c-bot-l">
                                            <span class="pushtime">2小时前</span>
                                        </div>
                                        <div class="j-c-bot-r">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                    <div class="j-reply-push" style="display: none">
                                        <div class="j-reply-text-wrap">
                                            <label for="j-reply-text"></label>
                                            <input id="j-reply-text" class="j-reply-text"/>
                                            <div class="j-btn-send">
                                                <a>
                                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="j-comment-item">
                                <div class="j-head">
                                    <a class="j-head-sm">
                                        <img src="../static/images/cat.jpg" alt="">
                                    </a>
                                </div>
                                <div class="j-content">
                                    <div class="j-c-top">
                                        <span class="nickname">余一夏</span>
                                        <a class="j-btn-good">
                                            <i class="mdi mdi-thumb-up-outline mdi-16px"></i>
                                        </a>

                                    </div>
                                    <div class="j-c-mid">
                                        真好听
                                    </div>
                                    <div class="j-c-bot">
                                        <div class="j-c-bot-l">
                                            <span class="pushtime">2小时前</span>
                                        </div>
                                        <div class="j-c-bot-r">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                    <div class="j-reply-push" style="display: none">
                                        <div class="j-reply-text-wrap">
                                            <label for="j-reply-text"></label>
                                            <input id="j-reply-text" class="j-reply-text"/>
                                            <div class="j-btn-send">
                                                <a>
                                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="j-comment-item">
                                <div class="j-head">
                                    <a class="j-head-sm">
                                        <img src="../static/images/cat.jpg" alt="">
                                    </a>
                                </div>
                                <div class="j-content">
                                    <div class="j-c-top">
                                        <span class="nickname">余一夏</span>
                                        <a class="j-btn-good">
                                            <i class="mdi mdi-thumb-up-outline mdi-16px"></i>
                                        </a>

                                    </div>
                                    <div class="j-c-mid">
                                        真好听
                                    </div>
                                    <div class="j-c-bot">
                                        <div class="j-c-bot-l">
                                            <span class="pushtime">2小时前</span>
                                        </div>
                                        <div class="j-c-bot-r">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                    <div class="j-reply-push" style="display: none">
                                        <div class="j-reply-text-wrap">
                                            <label for="j-reply-text"></label>
                                            <input id="j-reply-text" class="j-reply-text"/>
                                            <div class="j-btn-send">
                                                <a>
                                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="j-comment-item">
                                <div class="j-head">
                                    <a class="j-head-sm">
                                        <img src="../static/images/cat.jpg" alt="">
                                    </a>
                                </div>
                                <div class="j-content">
                                    <div class="j-c-top">
                                        <span class="nickname">余一夏</span>
                                        <a class="j-btn-good">
                                            <i class="mdi mdi-thumb-up-outline mdi-16px"></i>
                                        </a>

                                    </div>
                                    <div class="j-c-mid">
                                        真好听
                                    </div>
                                    <div class="j-c-bot">
                                        <div class="j-c-bot-l">
                                            <span class="pushtime">2小时前</span>
                                        </div>
                                        <div class="j-c-bot-r">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                    <div class="j-reply-push" style="display: none">
                                        <div class="j-reply-text-wrap">
                                            <label for="j-reply-text"></label>
                                            <input id="j-reply-text" class="j-reply-text"/>
                                            <div class="j-btn-send">
                                                <a>
                                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="j-comment-item">
                                <div class="j-head">
                                    <a class="j-head-sm">
                                        <img src="../static/images/cat.jpg" alt="">
                                    </a>
                                </div>
                                <div class="j-content">
                                    <div class="j-c-top">
                                        <span class="nickname">余一夏</span>
                                        <a class="j-btn-good">
                                            <i class="mdi mdi-thumb-up-outline mdi-16px"></i>
                                        </a>

                                    </div>
                                    <div class="j-c-mid">
                                        真好听
                                    </div>
                                    <div class="j-c-bot">
                                        <div class="j-c-bot-l">
                                            <span class="pushtime">2小时前</span>
                                        </div>
                                        <div class="j-c-bot-r">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                    <div class="j-reply-push" style="display: none">
                                        <div class="j-reply-text-wrap">
                                            <label for="j-reply-text"></label>
                                            <input id="j-reply-text" class="j-reply-text"/>
                                            <div class="j-btn-send">
                                                <a>
                                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="j-comment-item">
                                <div class="j-head">
                                    <a class="j-head-sm">
                                        <img src="../static/images/cat.jpg" alt="">
                                    </a>
                                </div>
                                <div class="j-content">
                                    <div class="j-c-top">
                                        <span class="nickname">余一夏</span>
                                        <a class="j-btn-good">
                                            <i class="mdi mdi-thumb-up-outline mdi-16px"></i>
                                        </a>

                                    </div>
                                    <div class="j-c-mid">
                                        真好听
                                    </div>
                                    <div class="j-c-bot">
                                        <div class="j-c-bot-l">
                                            <span class="pushtime">2小时前</span>
                                        </div>
                                        <div class="j-c-bot-r">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                    <div class="j-reply-push" style="display: none">
                                        <div class="j-reply-text-wrap">
                                            <label for="j-reply-text"></label>
                                            <input id="j-reply-text" class="j-reply-text"/>
                                            <div class="j-btn-send">
                                                <a>
                                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="j-comment-item">
                                <div class="j-head">
                                    <a class="j-head-sm">
                                        <img src="../static/images/cat.jpg" alt="">
                                    </a>
                                </div>
                                <div class="j-content">
                                    <div class="j-c-top">
                                        <span class="nickname">余一夏</span>
                                        <a class="j-btn-good">
                                            <i class="mdi mdi-thumb-up-outline mdi-16px"></i>
                                        </a>

                                    </div>
                                    <div class="j-c-mid">
                                        真好听
                                    </div>
                                    <div class="j-c-bot">
                                        <div class="j-c-bot-l">
                                            <span class="pushtime">2小时前</span>
                                        </div>
                                        <div class="j-c-bot-r">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                    <div class="j-reply-push" style="display: none">
                                        <div class="j-reply-text-wrap">
                                            <label for="j-reply-text"></label>
                                            <input id="j-reply-text" class="j-reply-text"/>
                                            <div class="j-btn-send">
                                                <a>
                                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>

    <div class="j-bottom">
        <div class="j-bottom-wrap">
            <div id="j-process" control="false">
                <div id="j-process-back">{{ currentTime }}</div>
                <div id="j-process-bar" ref="j-process-bar">
                    <div id="j-process-load" ref="j-process-load"></div>
                    <div id="j-process-play" ref="j-process-play">
                        <div id="j-process-drag" @mousedown="move"></div>
                    </div>
                </div>
                <div id="j-process-next">{{ duration }}</div>
            </div>
            <div id="j-control">
                <div id="j-control-wrap-left">
                    <div class="j-cover">
                        <a class="j-cover-sm">
                            <img src="../static/images/cat.jpg" alt="">
                        </a>
                    </div>
                    <div class="j-playing">
                        <div>小半</div>
                        <div>陈粒</div>
                    </div>

                </div>
                <div id="j-control-wrap">
                    <div id="next">
                        <a>
                            <i class="mdi mdi-skip-previous mdi-24px"></i>
                        </a>
                    </div>
                    <div id="play" @click="play()">
                        <a>
                            <!-- <i class="mdi mdi-play mdi-48px"></i> -->
                            <i class="mdi mdi-48px" :class="{'mdi-play': !played, 'mdi-pause': played}"></i>
                        </a>
                    </div>
                    <div id="next">
                        <a>
                            <i class="mdi mdi-skip-next mdi-24px"></i>
                        </a>
                    </div>
                </div>
                <div id="j-control-wrap-right">
                    <div>
                        <a class="j-active">
                            <i class="mdi mdi-volume-medium mdi-24px"></i>
                        </a>
                    </div>
                    <!--
                    <div>
                        <a class="j-active">
                            <i class="mdi mdi-resistor mdi-24px"></i>
                        </a>
                    </div>
                    -->
                    <div>
                        <a class="j-active">
                            <i class="mdi mdi-tumblr-reblog mdi-24px"></i>
                        </a>
                    </div>
                    <div>
                        <a class="j-active">
                            <i class="mdi mdi-playlist-music-outline mdi-24px"></i>
                        </a>
                    </div>
                    <div>
                        <a>
                            <i class="mdi mdi-file-document-box-outline mdi-24px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./index.js"></script>

</body>
</html>